[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/binodTony
[access "refs/for/refs/*"]
	read = group user/binodTony
	push = group user/binodTony
	label-Code-Review = -2..+2 group user/binodTony
	label-Verified = -1..+1 group user/binodTony
	rebase = group user/binodTony
	removeReviewer = group user/binodTony
	submit = group user/binodTony
[access "refs/heads/*"]
	read = group user/binodTony
	create = group user/binodTony
	push = +force group user/binodTony
	pushMerge = group user/binodTony
[access "refs/tags/*"]
	push = group user/binodTony
	push = +force group user/binodTony
